<header th:insert="~{fragments/header.html :: header}"> </header>
<div style="min-height:100vh; display:flex; flex-direction:column">
  <div class="container" style="max-width: 500px">
    <h3 class="mb-3">Password Encryptor</h3>

    <form method="get" th:action="@{'/encrypt-password'}">
      <div style="margin-bottom: 10px">
        Enter keystore password: <input class="form-control form-control-sm" type="text" id="password" name="password" placeholder="enter password">
      </div>
      <div>
        <label for="algorithm" style="margin-bottom: 3px">Choose algorithm:</label>
        <select class="form-control form-control-sm" name="algorithm" id="algorithm">
          <option value="" disabled selected>Select Algorithm</option>
          <option value="SHA-256">SHA-256</option>
          <option value="SHA-512">SHA-512</option>
          <option value="SHA-1">SHA-1</option>
          <option value="MD5">MD5</option>
        </select>
      </div>
      <div style="margin-top: 10px">
        Enter Hexadecimal value: <input class="form-control form-control-sm" type="text" id="hex-value"
                                        name="hex-value" placeholder="enter hexadecimal value">
        <p>Sample: <span>0123456789ABCDEF = 16</span></p>
      </div>
      <div>
        <p style="margin-top: 10px">With salt</p>
        <div class="form-check" style="margin-top: -10px">
          <input class="form-check-input" type="radio" id="withSalt" name="withSalt" value="true">
          <label for="withSalt">Yes</label><br>
          <input class="form-check-input" type="radio" id="withoutSalt" name="withSalt" value="false">
          <label for="withoutSalt">No</label><br>
        </div>
      </div>
      <div>
        Enter number of bytes: <input class="form-control form-control-sm"
                                      type="number" id="bytes" name="bytes"
                                      placeholder="enter byte" readonly="readonly" >
      </div>

      <button class="btn btn-info" th:id="confirm-btn">Generate Password</button>
    </form>
    <label for="password-result-field">Generated encrypted password:</label>
    <textarea id="password-result-field" th:text="${result}"></textarea>
    <div th:id="copy-password-div">
      <button th:id="copy-password-btn" class="btn btn-success" onclick="copyText()">Copy Password <i style="font-size:24px;opacity: 50%" class="fa fa-copy"></i></button>
    </div>

  </div>
  <!------------------------ script ------------------------------>
  <script>
    function copyText() {
      let copyText = document.getElementById("password-result-field");
      copyText.select();
      //document.execCommand("copy");
      navigator.clipboard.writeText(copyText.value);
      //alert("Copied text: " + copyText.value)
    }

    $(document).ready(function () {
      $('#withSalt').click(function()
      {
        $('#bytes').removeAttr("readonly");
      });

      $('#withoutSalt').click(function()
      {
        $('#bytes').attr("readonly", "readonly").attr("value", 0);
      });
    });
  </script>
</div>
<div th:id="footer-div">
  <footer th:insert="~{fragments/footer.html :: footer}"></footer>
</div>