<header th:insert="~{fragments/header.html :: header}"> </header>
<div style="min-height:100vh; display:flex; flex-direction:column">
  <div class="container" style="max-width: 500px">
    <h3 class="mb-3">Password Encryptor</h3>

    <form name="encryptor-form" method="get" th:action="@{'/encrypt-password'}" onsubmit="return validateForm()">
      <div style="margin-bottom: 10px">
        Enter keystore password: <input class="form-control form-control-sm" type="text" id="password" name="password" placeholder="Enter password">
      </div>
      <div>
        <label for="algorithm" style="margin-bottom: 3px">Choose algorithm:</label>
        <select class="form-control form-control-sm" name="algorithm" id="algorithm">
          <option value="" disabled selected>Select Algorithm</option>
          <option value="SHA-256">SHA-256</option>
          <option value="SHA-512">SHA-512</option>
          <option value="SHA-1">SHA-1</option>
          <option value="MD5">MD5</option>
        </select>
      </div>
      <div style="margin-top: 10px">
        Enter Hexadecimal value: <input class="form-control form-control-sm" type="text" id="hex-value"
                                        name="hex-value" placeholder="Enter hexadecimal value">
        <p>Sample: <span>0123456789ABCDEF = 16</span></p>
      </div>
      <div>
        <p style="margin-top: 10px">With salt</p>
        <div class="form-check" style="margin-top: -10px">
          <input class="form-check-input" type="radio" id="withSalt" name="withSalt" value="true">
          <label for="withSalt">Yes</label><br>
          <input class="form-check-input" type="radio" id="withoutSalt" name="withSalt" value="false">
          <label for="withoutSalt">No</label><br>
        </div>
      </div>
      <div>
        Enter number of bytes: <input class="form-control form-control-sm"
                                      type="number" id="bytes" name="bytes"
                                      placeholder="Enter byte" readonly="readonly" >
      </div>

      <button class="btn btn-info" th:id="confirm-btn">Generate Password</button>
    </form>
    <label for="password-result-field">Generated encrypted password:</label>
    <textarea id="password-result-field" th:text="${result}"></textarea>
    <div th:id="copy-password-div">
      <button th:id="copy-password-btn" class="btn btn-success" onclick="copyText()">Copy Password <i style="font-size:24px;opacity: 50%" class="fa fa-copy"></i></button>
    </div>

  </div>
  <!------------------------ script ------------------------------>
  <script>

    function validateForm() {
      const password = document.forms["encryptor-form"]["password"].value;
      const algorithm = document.forms["encryptor-form"]["algorithm"].value;
      const salt = document.forms["encryptor-form"]["withSalt"].value;
      const hexValue = document.forms["encryptor-form"]["hex-value"].value;
      const bytes = document.forms["encryptor-form"]["bytes"].value;
      const withSalt = document.getElementById("withSalt");

      if (password === "") {
        alert("Password field must not be empty!");
        return false;
      }

      if (algorithm === "") {
        alert("You must select an algorithm.");
        return false;
      }

      if (hexValue === "") {
        alert("Hexadecimal value is required");
        return false;
      } else if (hexValue.length < 16 ) {
        alert("Hexadecimal value should be 16 and up characters");
        return false;
      }

      if (salt === "") {
        alert("You must select an option for salt");
        return false;
      } else if (withSalt.checked) {
        if (bytes === "") {
          alert("You must enter a byte in number");
          return false;
        }
      } else {
        return true;
      }
        return true;
    }

    function copyText() {
      let generatedPassword = document.getElementById("password-result-field");
      const generatedPasswordValue = document.getElementById("password-result-field").value;
      if (generatedPasswordValue === "") {
        alert("Please enter all required fields");
        return false;
      }
      generatedPassword.select();
      //document.execCommand("copy");
      navigator.clipboard.writeText(generatedPassword.value);
      //alert("Copied text: " + copyText.value)
    }

    $(document).ready(function () {
      $('#withSalt').click(function()
      {
        $('#bytes').removeAttr("readonly");
      });

      $('#withoutSalt').click(function()
      {
        $('#bytes').attr("readonly", "readonly").attr("value", 0);
      });
    });
  </script>
</div>
<div th:id="footer-div">
  <footer th:insert="~{fragments/footer.html :: footer}"></footer>
</div>