<header th:insert="~{fragments/header.html :: header}"> </header>
<body>
<div style="min-height:100vh; display:flex; flex-direction:column">
<section class="my-5">
  <div class="container">
    <div class="row">
      <div class="col-md-8 mx-auto">
        <div class="utility-index-div">
          <h2 th:id="util-title">CHOOSE UTILITY</h2>
        </div>
        <div class="utility-index-div">
          <form method="get" th:action="@{/files/new}">
            <button type="submit" class="btn btn-secondary" th:id="util-btn">View Certificate</button>
          </form>
        </div>
        <div class="utility-index-div">
          <form method="get" th:action="@{/get-jwt-file}">
            <button type="submit" class="btn btn-secondary" th:id="util-btn">Decode JWT File</button>
          </form>
        </div>
        <div class="utility-index-div">
          <form method="get" th:action="@{/get-jwt-string}">
            <button type="submit" class="btn btn-secondary" th:id="util-btn">Decode JWT String</button>
          </form>
        </div>
        <div class="utility-index-div">
          <form method="get" th:action="@{/create-encoded-jwt}">
            <button type="submit" class="btn btn-secondary" th:id="util-btn">Create Encoded JWT</button>
          </form>
        </div>
        <div class="utility-index-div">
          <form method="get" th:action="@{/generate-key-home}">
            <button type="submit" class="btn btn-secondary" th:id="util-btn">Generate Private/Public RSA Key</button>
          </form>
        </div>
        <div class="utility-index-div">
          <form method="get" th:action="@{/encryptor}">
            <button type="submit" class="btn btn-secondary" th:id="util-btn">Encrypt Password</button>
          </form>
        </div>
        <div class="utility-index-div">
          <form method="get" th:action="@{/json-formatter/get-json}">
            <button type="submit" class="btn btn-secondary" th:id="util-btn">JSON Formatter</button>
          </form>
        </div>
        <div class="utility-index-div">
          <form method="get" th:action="@{/generate-uuid/home}">
            <button type="submit" class="btn btn-secondary" th:id="util-btn">Generate UUID</button>

          </form>
        </div>
        <div class="utility-index-div">
          <form method="get" th:action="@{/files}">
            <button type="submit" class="btn btn-secondary" th:id="util-btn">View Files</button>
          </form>
        </div>
        <div class="utility-index-div">
          <form action="#" th:action="@{'/delete'}" th:method="delete" >
            <button type="submit" class="btn btn-secondary" th:id="util-btn">Delete Files</button>
          </form>
        </div>

      </div>
    </div>
  </div>
</section>
</div>
<div th:id="footer-div">
  <footer th:insert="~{fragments/footer.html :: footer}"></footer>
</div>
</body>