html,
body {
  margin:0;
  padding:0;
  height:100%;
}
/*for decode_token and upload_form*/
#cancel-btn, #confirm-btn {
  width: 170px;
  margin-top: 15px;
}

#upload-file-confirm-btn {
  display: block;
  margin: auto;
  height: 37px;
}

#password {
  width: 280px
}

#form-btn-div {
  display: flex;
  justify-content: space-between;
}
/*for index page*/
#util-title {
  width: 260px;
  margin: auto;
  display: block;
}
#util-btn {
  width: 300px;
  margin: auto;
  display: block;
  text-align: center;
}

/*for files page*/
#files-msg {
  margin: 100px auto;
  display: block;
  text-align: center;
}

/*for content viewer page*/
#content-viewer {
  margin-left: 50px;
}

#content-viewer-exit-btn {
  margin-left: 50px;
}

/*for jwt_content_viewer*/
#jwt_content_viewer_div {
  margin-left: 50px;
  margin-right: 50px;
}

#jwt-token, #jwt-header, #jwt-payload, #jwt-signature, #jwt-encoded {
  margin-left: 0;
  padding: 15px;
  /*border-style: ridge;*/
  /*border-width: 5px;*/
  /*border-color: lightgray;*/
  border-radius: 4px;
  width: 100%;
  border-left-style: solid;
  border-left-color: coral;
  border-left-width: 15px;
  border-right-style: none;
  border-bottom-style: none;
  border-top-style: none;
  background-color: #F5F5F5;
}

#jwt-token-label, #jwt-header-label, #jwt-payload-label, #jwt-signature-label {
  margin-top: 10px;
}

/*for jwt_string_content_viewer*/
#submit-jwt-decode-request {
  border-right: 10px;
  padding: 5px;
  margin-top: -40px;
  margin-left: -160px;
  width: 150px;
  position: absolute;
}

#decoded-jwt-div {
  margin-top: 10px;
}

#jwt-decode-msg-div {
  margin-top: 20px;
}

/*for encode_token*/
#jwt-encoder-main-label, #jwt-encoder-header-label, #jwt-encoder-payload-label, #jwt-encoder-signature-label, #jwt-encoded-label {
  margin-top: 10px;
}

#jwt-encoder-main-div {
  margin-left: 50px;
  margin-right: 50px;
}

#jwt-encoder-div {
  margin-top: 0;
}

#encode-jwt-btn {
  margin-top: 10px;
}

#jwt-encode-save-div, #jwt-encode-save-copy-div, #public-key-div, #private-key-div  {
  display: flex;
  justify-content: space-between;
}

/*#jwt-encode-save-div {*/
/*  display: flex;*/
/*  justify-content: space-between;*/
/*  background: #F5F5F5;*/
/*  border-left-style: solid;*/
/*  border-left-color: coral;*/
/*  border-left-width: 15px;*/
/*  border-right-style: none;*/
/*  border-bottom: 1px solid dimgrey;*/
/*  border-top-left-radius: 4px;*/
/*  border-top-right-radius: 4px;*/
/*}*/

#save-encoded-jwt-btn, #copy-token-btn {
  width: 200px;
  margin-bottom: 10px;
  margin-left: 10px;
  margin-right: 10px;
}

/*for json_formatter*/
#json-formatter-div {
  margin-left: 70px;
}

#submit-json {
  border-right: 10px;
  padding: 5px;
  margin-top: 280px;
  margin-left: -780px;
  width: 100px;
  position: absolute;
}

#json-viewer, #json-formatter {
  margin-left: 0;
  padding: 15px;
  /*border-style: ridge;*/
  /*border-width: 5px;*/
  /*border-color: lightgray;*/
  border-radius: 4px;
  width: 800px;
  border-left-style: solid;
  border-left-color: coral;
  border-left-width: 15px;
  border-right-style: none;
  border-bottom-style: none;
  border-top-style: none;
  background-color: #F5F5F5;
}

#json-formatter-box-div {
  margin-top: 80px;
}

/*for uuid_generator*/
#uuid-generator-div {
  margin-left: 70px;
}

#generate-uuid {
  border-right: 10px;
  padding: 5px;
  margin-top: 20px;
  margin-left: 0px;
  width: 150px;
  position: absolute;
}

#generated-uuid-div {
  margin-top: 80px;
  margin-left: 70px;
}

#uuid-viewer {
  /*padding: 15px;
  /*border: 1px solid black;*/
  /*border-radius: 5px;*/
  width: 700px;
  float: left;
}

#generated-uuid-field-div {
  width: 800px;
  margin-left: 70px;
}

#copy-btn {
  border: none;
  margin-left: -195px;
  margin-top: 25px;
}

#uuid {
  text-align: center;
  padding: 10px;
  width: 500px;
  height: 50px;
  border-radius: 4px;
  border-left-style: solid;
  border-left-color: coral;
  border-left-width: 15px;
  border-right-style: none;
  border-bottom-style: none;
  border-top-style: none;
  background-color: #F5F5F5;
}

/*for generate_public_private_key*/
#generate-key-div {
  margin-top: 10px;
  margin-right: 50px;
}

#private-key, #public-key {
  margin-left: 0;
  padding: 15px;
  border-radius: 4px;
  width: 100%;
  border-left-style: solid;
  border-left-color: coral;
  border-left-width: 15px;
  border-right-style: none;
  border-bottom-style: none;
  border-top-style: none;
  background-color: #F5F5F5;
}

#private-key-label, #public-key-label {
  margin-top: 20px;
}

/*for encrypt_password*/

#password-result-field {
  height: 200px;
  border-radius: 4px;
  width: 600px;
  border-left-style: solid;
  border-left-color: coral;
  border-left-width: 15px;
  border-right-style: none;
  border-bottom-style: none;
  border-top-style: none;
  background-color: #F5F5F5;
}

#copy-password-div {
  margin-top: 10px;
}

#confirm-btn, #copy-password-btn {
  width: 170px;
}

/*for footer*/

#footer-div {
  margin-top: 50px;
  bottom: 0;
  /*clear: both;*/
  /*position: relative;*/
  /*height: 200px;*/
  /*margin-top: -200px;*/
}

/*For all*/
#content-viewer {
  margin-left: 50px;
  margin-right: 50px;
}